@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393e46;
}

#header img {
    width: 140px;
}

.manutencao img {
    display: flex;
    height: 150px;
    padding-left: 590px;
    padding-top: 30px;
}

.manutencao h1 {
    color: #393e46;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.manutencao p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}